numpy<1.24
transformers>=4.43.2
torch>=2.4.0
torchvision>=0.19
torchaudio>=2.4.0
tensorflow>=2.17
tensorrt
huggingface_hub
accelerate
gym>=0.26
pygame
imageio[ffmpeg]
pyglet
pandas
tf-keras
requests
mujoco
pyperclip
scikit_posthocs
